<br>
<br>
<br>
<h2>Have you ever wondered where your T-Shirt came from?</h2>
<br>
<br>
<h2>Who made it?</h2>
<br>
<br>
<h3>How far it's traveled?</h3>
<br>
<h1>1st: Check your tag</h1>
<h1>2nd: Come explore the Journey of a <%= link_to "T-shirt!", countries_path %></h1>
<h1><%= link_to "(insert clickable pic of T-shirt)", countries_path %></h1>
