<br>
<center>
<h2>Have you ever wondered where your T-Shirt came from?</h2>
<br>
<br>
<h3>Who made it? How far did it travel?</h3>
<%= image_tag "travel.png" %>
<br>
<h1>Come explore the <%= link_to "Journey of a T-shirt!", new_home_path %></h1>
 <div class="click">
<h1><%= link_to new_home_path do %>
<%= image_tag "tshirt.png" %>
<% end %>
</div>
</center>
