<center>
<h1>Let's start at the beginning.</h1>
<br>
<%= image_tag "thread.png", size: '150x150'%>
<br>
<br>
<div class="well well-lg"><h1>Where do you think your <%= image_tag "tshirt.png", size: '50x50' %> was made?</h1></div>
<br>
<h2>Here's a clue: More than 97% of apparel sold in the U.S. is made overseas.</h2>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<h1>Chances are</h1>
<h1>your T-shirt</h1>
<h1>was made THOUSANDS of miles away.</h1>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<h2>Need another hint? More than 2/3 of all imported clothes comes from the same region: ASIA.</h2>

<br>
<div class="well well-lg">
  <h1>OK, time to take a guess!</h1><br>
  <%= link_to 'I HAVE A GUESS IN MIND', countries_path, class: "btn btn-lg btn-info" %>
</div>

<br>
</center>
