<center>
<h1>This is where your T-shirt ends up...</h1>

<h2>(Content to come!)</h2>
<br>
<li>
<li>
<li>
<li>
<li>
<li>
<li>
<br>
<h2><%= link_to "Learn More/Resources", page_path(:page => "resources") %> | <%= link_to "Restart Your Journey", root_path %></h2>
</center>
