<center>
<h1>Time to Take a Guess!</h1>
<h1>PIC</h1>
<h2>Where do you think your T-shirt is from?</h2>
<br>
<br>
<%= link_to 'GUESS', new_visitor_path, id: "add_visitor_answer_link", remote: true, class: "btn btn-lg btn-info" %>
<br>
<br>
<h4>You'll see everyone's results after you provide your answer.</h4>
<h6>Please note your answers will be public</h6>
<br>
