<center>
<h1>Let's start at the beginning.</h1><br>
<%= image_tag "thread.png", size: '150x150'%>
<br>
<br>
<div class="dark-well">
<div class="well well-lg 1"><h1>Where do you think your <%= image_tag "tshirt.png", size: '50x50' %> was made?</h1></div>
</div>
<br>
<h2>Here's a clue:<br> More than 97% of apparel sold in the U.S.<br> is made overseas.</h2>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<h2>2/3 of those imports comes from the Eastern Hemisphere.</h2>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<br>
<h1>Time to Take a Guess!</h1>
<div class= "guess"><%= image_tag "guess.png" %></div>
<h2>Where do you think your T-shirt is from?</h2>
<br>
<br>
<%= link_to 'GUESS', new_visitor_path, id: "add_visitor_answer_link", remote: true, class: "btn btn-lg btn-info" %>
<br>
<br>
<br>
</center>
