<center>
<h1>Time to Take a Guess!</h1>
<%= image_tag "guess.png" %>
<h2>Where do you think your T-shirt is from?</h2>
<br>
<br>
<%= link_to 'GUESS', new_visitor_path, id: "add_visitor_answer_link", remote: true, class: "btn btn-lg btn-info" %>
<br>
<br>
<h5>Please note your answers will be public.</h5>
<br>
