@import "bootstrap-sprockets";
@import "bootstrap";


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spin
{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         30s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
}
.click:hover {
  -webkit-transform: scale(1.15, 1.15);
  cursor: pointer;
}

.tables {
  display: inline;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #C0C0C0;
}

body {
  font-family: 'Josefin Slab', serif;
  background-color: #F1F1F1;
}

a {
  color: red;
}

a:hover {
  color: white;
  text-decoration: none;
}

li {
  color: red;
}

.btn {
  color: white;
  background-color: black;
  border: black;
}
.btn:hover {
  background-color: red;
  border: red;
  color: white;
}

.well {
  border-width: thick;
  border-color: red;
  border-style: dotted;
}

footer {
  font-size: 125%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #fff;
  display: block;
  }
