@import "bootstrap-sprockets";
@import "bootstrap";


.tables {
  display: inline;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #C0C0C0;
}

body {
  font-family: 'Josefin Slab', serif;
  background-color: #F1F1F1;
}

.click:hover {
  -webkit-transform: scale(1.25, 1.25);
  cursor: pointer;
}

footer {
  position: absolute;
}

a {
  color: red;
}
li, a:hover {
  color: black;
  text-decoration: none;
}

.btn {
  color: white;
  background-color: black;
  border: black;
}
.btn:hover {
  background-color: red;
  border: red;
  color: white;
}

.well {
  border-width: thick;
  border-color: red;
  border-style: dotted;
}
