@import "bootstrap-sprockets";
@import "bootstrap";


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spin
{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         30s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
}
.click:hover {
  -webkit-transform: scale(1.15, 1.15);
  cursor: pointer;
}

.tables {
  display: inline;
}

body {
  font-family: 'Josefin Slab', serif;
  background-color: #F1F1F1;
}

a {
  color: red;
}

a:hover {
  color: black;
  text-decoration: none;
}

li {
  color: red;
}

.pop {
  color: red;
}

.btn {
  color: white;
  background-color: black;
  border: black;
}
.btn:hover {
  background-color: red;
  border: red;
  color: white;
}

.well {
  border-width: 3.5px;
  border-color: red;
  border-style: dotted;
}

.well-single {
  border-width: 3.5px;
  border-bottom: dotted red;
}

footer {
  font-size: 125%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #fff;
  display: block;
  height: 5%;
  }

  footer h4 {
    margin-left: 2%;
    font-size: 125%;
  }

  footer a:hover {
    color: white;
    text-decoration: none;
  }

  .img-responsive {
    width: 100%;
}

.resources a {
  color: black;
}

// .resources li {
//   color: black;
// }

.resources a:hover {
  color: red;
  text-decoration: none;
}
